@import url("/common.css");

.rules-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rules-list {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
  font-size: large;
}
